<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="../assets/img/login_logo.png" id="icon" alt="User Icon"/>
      <h1>iTime</h1>
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="ra / cordenador">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="senha">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="http://201.33.227.210/si/#/home">Unisep/SI</a>
    </div>

  </div>
</div>