<form>
  <div class="formulario_borda">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Nome do Evento</label>
        <input type="text" class="form-control" placeholder="Evento">
      </div>
      <div class="col-md3 mb-3">
        <label>Data</label>
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-3">
        <label>Descrição do evento</label>
        <textarea class="col-md mb-3 form-control" placeholder="Descrição" rows="4"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-4">
        <label>Observação</label>
        <input type="text" class="form-control" placeholder="Observação">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-3">
          <small class="text-muted">Caso tenha o certificado do evento:</small>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="salvarFormulario()">Enviar Formulario</button>
  </div>
</form>