<form>
  <div class="formulario_borda">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label class="cor-azul">Nome do Evento: </label><br>
        <label>Hackaton</label>
      </div>
      <div class="col-md3 mb-3">
        <label class="cor-azul">Data: </label><br>
        <label>21/07/2018</label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-3">
        <label class="cor-azul">Descrição do evento: </label><br>
        <label>Varias Coisas</label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-4">
        <label class="cor-azul">Observação: </label><br>
        <label>Bastante descrição</label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-4">
        <label class="cor-azul">Quantidade de horas: </label><br>
        <label>35 horas</label>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary btn-success">Aprovar</button>
      <button type="button" class="btn btn-secondary btn-danger">Reprovar</button>
    </div>
  </div>
</form>