<div class="formulario_borda">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="cor-azul">Nome do Aluno: </label><br>
      <label>Leonardo Corbari</label>
    </div>
    <div class="col-md3 mb-3">
      <label class="cor-azul">Semestre: </label><br>
      <label>4º Semestre</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-4">
      <label class="cor-azul">Total de horas que possui: </label><br>
      <label class="tem">50h</label>
    </div>
    <div class="col-md-4 mb-4">
      <label class="cor-azul">Total que faltam: </label><br>
      <label class="faltam">100h</label>
    </div>
    <div class="col-md-4 mb-4">
      <label class="cor-azul">Total Necessario: </label><br>
      <label>150h</label>
    </div>
  </div>
  <div class="barra-status">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100" style="width: 35%">35%</div>
      <div class="progress-bar-animated progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 65%"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
    </div>
  </div>
</div>