<form>
  <div class="formulario_borda">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Nome do Evento</label>
        <input type="text" class="form-control" placeholder="Evento" required name="nome" [(ngModel)]="requisicao.nomeEvento">
      </div>
      <div class="col-md3 mb-3">
        <label>Data início</label>
        <input type="date" class="form-control" required name="dataInicio" [(ngModel)]="requisicao.dataInicial">
      </div>
      <div class="col-md3 mb-3">
        <label>Data término</label>
        <input type="date" class="form-control" required name="dataFinal" [(ngModel)]="requisicao.dataFinal">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-2">
        <label>Descrição do evento</label>
        <textarea class="col-md mb-3 form-control" placeholder="Descrição" rows="3" required name="descricao" 
        [(ngModel)]="requisicao.descricao"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-2">
        <label>Entidade promotora</label>
        <textarea class="col-md mb-3 form-control" placeholder="Entidade" rows="1" required name="entidade" [(ngModel)]="requisicao.entidade"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label>Número de horas a validar</label>
        <input type="number" class="form-control" required name="horas" placeholder="Nº de horas a validar" [(ngModel)]="requisicao.horasRequeridas">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-7 mb-3">
          <small class="text-muted">Faça aqui o upload do certificado do evento:</small>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name=#arquivo #arquivo>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="salvar()">Enviar Solicitação</button>
  </div>
</form>