<div class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start" [routerLink]="['/open-solicitacao']">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Hackaton 2018 Cresol</h5>
      <small class="text-muted">3 dias atrás</small>
    </div>
    <p class="mb-1">Alom Dahmer.</p>
    <small class="text-muted">Observação: Não faltei nenhum dia.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana Academica SI 2017</h5>
      <small class="text-muted">28 dias atrás</small>
    </div>
    <p class="mb-1">Leonardo Corbari.</p>
    <small class="text-muted">Observação: Cheguei atrasado no sabado.</small>
  </a>
</div>